# PostgreSQL
POSTGRES_DB=bgd_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-webserver:8080/execution/
AIRFLOW__CORE__INTERNAL_API_URL=http://airflow-webserver:8080
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW_WEBSERVER_SECRET_KEY=

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=

JAVA_HOME=
PYSPARK_PYTHON=python
PYSPARK_DRIVER_PYTHON=python